<nav class="navbar navbar-inverse" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li [class.active]="selectedItemName === 'Home'" (click)="markSelectedItem('Home')"><a routerLink="/">Home</a></li>
            <li [class.active]="selectedItemName === 'Create Team'" (click)="markSelectedItem('Create team')"><a routerLink="/team/create">Create team</a></li>
            <li [class.active]="selectedItemName === 'View Teams'" (click)="markSelectedItem('View teams')"><a routerLink="/teams/">View teams</a></li>
        </ul>
    </div>
</nav>