h1 {
    font-family: EraserRegular;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.logo span {
    color: #028090;
    margin: 0;
    line-height: 0.5em;
    padding-left: 40%;
    display: block;
}
nav {
    display: flex;
    flex-direction: column;
}

nav img {
    height: 0.5em;
}

.main-nav {
    margin-bottom: 0;
    padding-top: 3%;
    list-style: none;
    display: inline-block;
    list-style: none;
    position: relative;
}

.main-nav li {
    display: inline-block;
    position: relative;
}

.main-nav a {
    color: #ffffff;
    font-family: EraserRegular;
    padding-right: 20px;
    font-size: 1.5em;
}

.main-nav a:hover, .active a:hover {
    color: #EF233C !important;
}

.active a {
    color: #028090 !important;
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
    .main-nav a {
        font-size: 1em;
    }
}

@media only screen and (max-width: 480px) {
    .main-nav a, .logo span{
        font-size: 0.7em;
    }
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    .logo span{
      padding-left: 50%
    }
    .main-nav {
      padding-top: 0;
      text-align: center;
    }
}
