<div class="logo">
  <h1>BLACKBOARD</h1>
  <span>project manager</span>
</div>

<nav>
  <div class="user">
    <ul>
      <li><a routerLink="/login">LOG IN</a></li>
      <li><a routerLink="/signin">SIGN IN</a></li>
    </ul>

  </div>
  <ul class="main-nav">
    <li [class.active]="selectedItemName === 'Home'" (click)="markSelectedItem('Home')"><a routerLink="/">HOME</a></li>
    <li [class.active]="selectedItemName === 'Projects'" (click)="markSelectedItem('Projects')"><a routerLink="/projects">PROJECTS</a></li>
    <li [class.active]="selectedItemName === 'Teams'" (click)="markSelectedItem('Teams')"><a routerLink="/teams">TEAMS</a></li>
    <li [class.active]="selectedItemName === 'Teams'" (click)="markSelectedItem('Teams')"><a routerLink="/events">EVENTS</a></li>
  </ul>
  <img src="underline.png"></nav>
