<section class="project-card">
  <div class="pins">
    <img src="pin.png" alt="">
    <div class="form-wapper">
      <label for="projects-filter">Filter by:</label>
      <select class="form-control" id="projects-filter" (change)="onFilterChange($event)">
            <option *ngFor="let prop of filterProperties" [selected]="filterBy === prop" value="{{prop}}">{{prop}}</option>
        </select>
      <label for="projects-sort">Sort:</label>
      <select class="form-control" id="projects-sort" (change)="onSortChange($event)">
            <option *ngFor="let prop of sortingProperties" [selected]="sortBy === prop" value="{{prop}}">{{prop}}</option>
        </select>
    </div>
    <img src="pin.png" alt="">
  </div>
  <hr>
  <div class="info-container">
    <div class="short-info" *ngFor="let project of projects | filterProjects:filterBy | sortProjects:sortBy ">
      <div class="info-wrapper">
        <div class="img-info-wrap">
          <img class="prof-img" src="{{ project.image_url }}" />
          <div class="main-info">
            <h3>  <a href="/projects/{{project.id}}" > {{ project.title }} </a></h3>
            <em *ngIf="project.isFinished"> <span>{{project.isFinished}}</span> </em>
            <em *ngIf="project.demo"> <span>Demo:</span><a href="{{project.demo}}" target="blank"> {{project.demo}} </a></em>
            <em *ngIf="project.github"> <span>GitHub:</span><a href="{{project.github}}" target="blank"> {{project.github}} </a></em>
          </div>
        </div>
      </div>
      <div class="interaction">
        <!--if project.isUpdateAllowed-->
        <a [routerLink]="['update',project.id]" class="glyphicon glyphicon-edit"></a>
        <!--if project.isDeleteAllowed-->
        <a [routerLink]="['remove',project.id]" class="glyphicon glyphicon-remove"></a>
      </div>
    </div>
 </div>
 <a class="btn btn-default" routerLink="/projects/create">Create PROJECT</a>
</section>
