<section class="project-card">
  <div class="pins">
    <img src="pin.png" alt="">
    <div class="form-wapper">
      <label for="mvdb-movies-sort">Filter by:</label>
      <select class="form-control" id="mvdb-movies-sort" (change)="onSortChange($event)">
                <option [selected]="orderDesc === false" value="false">Finished</option>
                <option [selected]="orderDesc === true" value="true">In progress</option>
            </select>
      <label for="mvdb-movies-order">Sort by:</label>
      <select class="form-control" id="mvdb-movies-order" (change)="onOrderChange($event)">
                <option [selected]="orderDesc === false" value="false">Date</option>
                <option [selected]="orderDesc === true" value="true">A-Z</option>
            </select>
    </div>
    <img src="pin.png" alt="">
  </div>
  <hr>
  <div class="info-container">
    <div class="short-info" *ngFor="let project of projects; let i=index">
      <div class="info-wrapper">
        <div class="img-info-wrap">
          <img class="prof-img" src="{{ project.image_url }}" />
          <div class="main-info">
            <h3>  <a href="/projects/{{project.id}}" > {{ project.title }} </a></h3>
            <em *ngIf="project.demo"> <span>Demo:</span><a href="{{project.demo}}" target="blank"> {{project.demo}} </a></em>
            <em *ngIf="project.github"> <span>GitHub:</span><a href="{{project.github}}" target="blank"> {{project.github}} </a></em>
          </div>
        </div>
      </div>
      <div class="interaction">
        <!--if project.isUpdateAllowed-->
        <a [routerLink]="['update',project.id]" class="glyphicon glyphicon-edit"></a>
        <!--if project.isDeleteAllowed-->
        <a [routerLink]="['remove',project.id]" class="glyphicon glyphicon-remove"></a>
      </div>
    </div>

  <a class="btn btn-default" routerLink="/projects/create">Create PROJECT</a>
 </div>
</section>
