<section class="project-card">
  <div class="pins">
    <img src="pin.png" alt="">
    <div class="form-wapper">
      <label for="mvdb-movies-sort">Filter by:</label>
      <select class="form-control" id="mvdb-movies-sort" (change)="onSortChange($event)">
                <option [selected]="orderDesc === false" value="false">Upcoming</option>
                <option [selected]="orderDesc === true" value="true">Past</option>
            </select>
      <label for="mvdb-movies-order">Sort by:</label>
      <select class="form-control" id="mvdb-movies-order" (change)="onOrderChange($event)">
                <option [selected]="orderDesc === false" value="false">Date</option>
                <option [selected]="orderDesc === true" value="true">A-Z</option>
            </select>
    </div>
    <img src="pin.png" alt="">
  </div>
  <hr>
  <div class="info-container">
    <div class="short-info" *ngFor="let event of events; let i=index">
      <div class="info-wrapper">
        <div class="img-info-wrap">
          <img class="prof-img" src="{{ event.image_url }}" />
          <div class="main-info">
            <h3>  <a href="/events/{{event.id}}" > {{ event.title }} </a></h3>
              <em *ngIf="event.type"> <span>Type: {{event.type}}</span> </em>
              <em *ngIf="event.place"> <span>Place: {{event.place}}</span> </em>
              <em *ngIf="event.when"> <span>Date and time: {{event.when}}</span> </em>
          </div>
        </div>
      </div>
    </div>
 </div>
</section>
