<li><a routerLink="/teams/create">Create TEAM</a></li>
<h1 class="text-center">Teams</h1>
<div class="row" *ngFor="let team of teams">
    <div class="col-md-3">
        <h5>
            <a href="/teams/{{team.id}}" > {{ team.name }} </a>
        </h5>
    </div>
    <div class="col-md-1">
        <!--<em (onclick="test()")-->
            <strong *ngIf="team.form"> {{team.form}} </strong>
    </div>
    <div class="col-md-1">
            <em *ngIf="team.createdAt"> {{team.createdAt.toLocaleDateString()}} </em>
    </div>
    <div class="col-md-1">
            <em *ngIf="team.github"> <a href="{{team.github}}" target="blank"> GitHub </a></em>
    </div>
    <div class="col-md-3">
        <!--if team.isJoinAllowed-->
            <!--form(method="post" action="/teams/join/" + team.id)-->
                <!--input(type="submit" value="JOIN").btn.btn-info-->
    </div>
    <div class="col-md-1">
        <h4 *ngIf="team.users"> {{team.users.length}} </h4>
    </div>
    <div class="col-md-2">
        <!--if team.isUpdateAllowed-->
            <a [routerLink]="['update',team.id]" class="glyphicon glyphicon-edit"></a>
        <!--if team.isDeleteAllowed-->
            <a [routerLink]="['remove',team.id]" class="glyphicon glyphicon-remove"></a>
    </div>
</div>
