<section class="project-card">
  <div class="pins">
    <img src="pin.png" alt="">
    <img src="pin.png" alt="">
  </div>
  <hr>
  <div class="info-wrapper">
    <div class="short-info">
      <div class="info-wrapper">
        <div class="img-info-wrap">
          <img class="prof-img" src="{{ image_url }}" />
          <div class="main-info">
            <h3>{{ title }} </h3>
            <em *ngIf="demo"> <span>Demo:</span><a href="{{demo}}" target="blank"> {{demo}} </a></em>
            <em *ngIf="github"> <span>GitHub:</span><a href="{{github}}" target="blank"> {{github}} </a></em>
          </div>
        </div>
      </div>
      <div class="interaction">
        <!--if project.isUpdateAllowed-->
        <a [routerLink]="['update',id]" class="glyphicon glyphicon-edit"></a>
        <!--if project.isDeleteAllowed-->
        <a [routerLink]="['remove',id]" class="glyphicon glyphicon-remove"></a>
      </div>
    </div>
 </div>
</section>
