<section class="project-card">
  <div class="pins">
    <img src="pin.png" alt="">
    <img src="pin.png" alt="">
  </div>
  <hr>
  <div class="info-wrapper">
    <div class="long-info">
      <div class="info-wrapper">
        <div class="img-info-wrap">
          <img class="prof-img" src="{{ image_url }}" />
          <div class="main-info">
            <h3>{{ title }} </h3>
            <em *ngIf="createdAt"> <span>{{createdAt | date:'medium'}}</span> </em>
            <em *ngIf="demo"> <span>Demo:</span><a href="{{demo}}" target="blank"> {{demo}} </a></em>
            <em *ngIf="github"> <span>GitHub:</span><a href="{{github}}" target="blank"> {{github}} </a></em>
            <em *ngIf="isFinished"> <span>{{isFinished}}</span> </em>
            <em *ngIf="team"> <span>Team:</span><a href="/teams/{{team.id}}">{{team.name}}</a></em>
          </div>
        </div>
      </div>
      <div class="interaction" *ngIf="usersService.getLoggedUser()?.id == owner_id">
        <a [routerLink]="['/projects/update',id]" class="glyphicon glyphicon-edit"></a>
        <a [routerLink]="['/projects/remove',id]" class="glyphicon glyphicon-remove"></a>
      </div>
    </div>
 </div>
</section>
