.signup.center-block.jumbotron{
  margin : 0 auto;
  width: 600px;
  max-width: 100%;
  background: transparent;
}
.signup.center-block.jumbotron p.heading {
  text-align: center;
  color: white;
  font-family: EraserRegular;
  text-transform: capitalize;
  font-size: 4em;
}

@media only screen and (max-width: 900px) and (min-width: 481px){
  .signup.center-block.jumbotron p.heading {
    font-size: 2em;
  }
}
@media only screen and (max-width: 481px){
  .signup.center-block.jumbotron p.heading {
    font-size: 1.2em;
  }
}
