<div class="signup center-block jumbotron" *ngIf="!authenticated">
  <p class="heading">SIGNUP</p>
  <form role="form" [formGroup]="registerForm" (ngSubmit)="signup(registerForm.value)">
    <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['username'].valid && registerForm.controls['username'].touched}">
      <label for="username">Username</label>
      <input class="form-control" type="text" placeholder="Username" [formControl]="registerForm.controls['username']">
      <div *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched" class="alert alert-danger">You must add a username.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['password'].valid && registerForm.controls['password'].touched}">
        <label for="password">Password</label>
        <input class="form-control" type="password" placeholder="Password" [formControl]="registerForm.controls['password']">
        <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched" class="alert alert-danger">You must add a password.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['firstname'].valid && registerForm.controls['firstname'].touched}">
      <label for="firstname">First Name</label>
      <input class="form-control" type="text" placeholder="First Name" [formControl]="registerForm.controls['firstname']">
      <div *ngIf="registerForm.controls['firstname'].hasError('required') && registerForm.controls['firstname'].touched" class="alert alert-danger">You must add a first name.</div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['lastname'].valid && registerForm.controls['lastname'].touched}">
      <label for="firstname">Last Name</label>
      <input class="form-control" type="text" placeholder="Last Name" [formControl]="registerForm.controls['lastname']">
      <div *ngIf="registerForm.controls['lastname'].hasError('required') && registerForm.controls['lastname'].touched" class="alert alert-danger">You must add a last name.</div>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!registerForm.valid">Submit</button>
    <!-- <button class="btn btn-default" routerLink="/signin">Click here to Signup</button> -->
  </form>
</div>
<div class="signup center-block jumbotron text-center" *ngIf="authenticated">
  <a (click)="logout()">Logout</a>
  <p>You are logged in.</p>
</div>
