<section class="project-card">
  <div class="pins">
    <img src="pin.png" alt="">
    <img src="pin.png" alt="">
  </div>
  <hr>
  <div class="info-wrapper">
    <div class="long-info">
      <div class="info-wrapper">
        <div class="img-info-wrap">
          <img class="prof-img" src="{{ image_url }}" />
          <div class="main-info">
            <h3>  <a href="/teams/{{id}}" >{{ name }}</a></h3>
            <em *ngIf="isFilled"> <span>{{isFilled}}</span> </em>
            <em *ngIf="form"> <span>Form: {{form}}</span> </em>
            <em *ngIf="github"> <span>GitHub:</span><a href="{{github}}" target="blank"> {{github}} </a></em>
            <em *ngIf="createdAt"> <span>Created on: {{createdAt | date:'medium'}}</span> </em>
            <em *ngIf="Owner"> <span>Owner: {{ Owner.username }}</span> </em>
            <span>Users:</span>
            <ul class="teammates">
              <li *ngFor="let user of users"><a href="/users/{{user.id}}">{{user.name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="interaction" *ngIf="usersService.getLoggedUser()?.id == owner_id">
        <a  [routerLink]="['/teams/update',id]" class="glyphicon glyphicon-edit"></a>
        <a  [routerLink]="['/teams/remove',id]" class="glyphicon glyphicon-remove"></a>
      </div>
    </div>
  </div>

</section>
