<section class="project-card">
  <div class="pins">
    <img src="pin.png" alt="">
    <div class="form-wapper">
      <label for="events-filter">Filter by:</label>
      <select class="form-control" id="events-filter" (change)="onFilterChange($event)">
            <option *ngFor="let prop of filterProperties" [selected]="filterBy === prop" value="{{prop}}">{{prop}}</option>
        </select>
      <label for="events-sort">Sort:</label>
      <select class="form-control" id="events-sort" (change)="onSortChange($event)">
            <option *ngFor="let prop of sortingProperties" [selected]="sortBy === prop" value="{{prop}}">{{prop}}</option>
        </select>
    </div>
    <img src="pin.png" alt="">
  </div>
  <hr>
  <div class="info-container">
    <div class="short-info" *ngFor="let event of events; let i=index">
      <div class="info-wrapper">
        <div class="img-info-wrap">
          <img class="prof-img" src="{{ event.image_url }}" />
          <div class="main-info">
            <h3>  <a href="/events/{{event.id}}" > {{ event.title }} </a></h3>
              <em *ngIf="event.type"> <span>Type: {{event.type}}</span> </em>
              <em *ngIf="event.place"> <span>Place: {{event.place}}</span> </em>
              <em *ngIf="event.when"> <span>Date and time: {{event.when}}</span> </em>
          </div>
        </div>
      </div>
      <div class="interaction" *ngIf="usersService.getLoggedUser()?.id == owner_id">
        <!--if event.isUpdateAllowed-->
        <a class="glyphicon glyphicon-edit" [routerLink]="['update',event.id]"></a>
        <!--if event.isDeleteAllowed-->
        <a class="glyphicon glyphicon-remove" [routerLink]="['remove',event.id]"></a>
      </div>
    </div>
 </div>
 <a class="btn btn-default"  *ngIf="usersService.loggedIn" routerLink="/events/create">Create EVENT</a>
</section>
