
h3 {
    color: #EF233C;
    font-family: OneDay;
    font-size: 1.5em;
    margin: 10px;
}

.prof-img {
    width: 10em;
    height: 10em;
    padding: 10px;
}


.info-wrapper, .main-info {
    display: flex;
    flex-direction: column;
}
.img-info-wrap {
    display: flex;
    flex-direction: row;
}
.main-info span{
  color: #028090;
  font-weight: bold;
  font-size: 1em;

}
.main-info a{
  color: #2D2C2A;
  padding: 5px;
}
.main-info{
      padding: 0px 10px 0px 10px;
}

.short-info {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 10px;
}


@media only screen and (max-width: 480px) {
  h3{
    font-size: 1em;
    text-align: center;
    margin: 0;
    margin-top: 5px;
  }
  .main-info{
    padding-left: 0;
  }
  .prof-img{
    width: 7em;
    height: 7em;
  }
  .main-info a{
    font-size: 0.8em;
  }
}
