/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(Chalkboard-Backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial;
    background-attachment: fixed;
}

@font-face {
    font-family: EraserRegular;
    src: url(EraserRegular.ttf);
}

@font-face {
    font-family: OneDay;
    src: url(OneDayinMalangbong.otf);
}
a{
  text-decoration: none;
}
.introduction {
    text-align: center;
    border: solid 2px #ffffff;
    padding: 20px;
    margin: 30px 15%;
}

.introduction ul {
    padding: 0;
    list-style: none;
    list-style: none;
    position: relative;
    margin-top: 0;
}

.introduction ul a {
    font-size: 1.5em;
    color: #ffffff;
    font-family: OneDay;
}

.button{
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.5em;
    color: #EF233C;
    font-family: arial;
    border: solid 2px #EF233C;
}

.introduction a:hover {
    color: #028090;
}

.introduction>a:hover {
    border: solid 2px #028090;
}

.pins {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-right: 30px;
}

h2 {
    font-family: EraserRegular;
    color: #2D2C2A;
    font-size: 2em;
    margin: 5px;
    text-align: center;
    font-weight: normal;
}

.wrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.project-card {
    background-color: #E3E8EA;
    margin: 10px 10%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.description{
  font-family: OneDay;
  color: #028090;
  font-size: 2em;
  margin: 5px;
  text-align: center;
}
hr{
  margin: 0 30px;
}
ul{
      list-style: none;
}
.project-card .button{
  font-family: OneDay;
  text-align: center;
  width: 20%;
  align-self: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
footer{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
    h2 {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }
    header {
        display: flex;
        flex-direction: column;
    }
}
