.introduction {
    text-align: center;
    border: solid 2px #ffffff;
    padding: 20px;
    margin: 30px 15%;
}

.introduction ul {
    padding: 0;
    list-style: none;
    list-style: none;
    position: relative;
    margin-top: 0;
}

.introduction ul a {
    font-size: 2em;
    color: #ffffff;
    font-family: OneDay;
}

.button{
    margin: 10px;
    padding: 5px 10px;
    font-size: 1.5em;
    color: #EF233C;
    font-family: arial;
    border: solid 2px #EF233C;
}

.introduction a:hover {
    color: #028090;
}

.introduction>a:hover {
    border: solid 2px #028090;
}
