<main>
  <section>
    <div class="introduction">
      <ul>
        <li><a routerLink="/teams">find team mates </a></li>
        <li><a href="#">discover ideas for your next project</a></li>
        <li><a href="#">manage you projects</a></li>
        <li><a href="#">schedule project goals and team meatings</a></li>
        <li><a href="#">share your work</a></li>
      </ul>
    </div>
  </section>
  <div class="wrapper">
    <section class="project-card">
      <div class="pins">
        <img src="pin.png" alt="">
        <h2>latest projects</h2>
        <img src="pin.png" alt="">
      </div>
      <p class="description">Look through the latest projects</p>
      <hr>
      <div class="info-container">
        <div class="short-info" *ngFor="let project of projects | slice:0:4">
          <div class="info-wrapper">
            <div class="img-info-wrap">
              <img class="prof-img" src="{{ project.image_url }}" />
              <div class="main-info">
                <h3>  <a *ngIf="project.demo" href="{{project.demo}}"> {{ project.title }} </a></h3>
                <em *ngIf="project.demo"> <span>Demo:</span><a href="{{project.demo}}" target="blank"> {{project.demo}} </a></em>
                <em *ngIf="project.github"> <span>GitHub:</span><a href="{{project.github}}" target="blank"> {{project.github}} </a></em>
                <h4 *ngIf="project.users"> {{project.users.length}} </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
        <a class="button" href="#">Find more...</a>
    </section>
    <section class="project-card">
      <div class="pins">
        <img src="pin.png" alt="">
        <h2>Enrolling teams</h2>
        <img src="pin.png" alt="">
      </div>
      <p class="description">Choose the perfect teammates</p>
      <hr>
      <div class="info-container">
        <div class="short-info" *ngFor="let team of teams | slice:0:4">
          <div class="info-wrapper">
            <div class="img-info-wrap">
              <img class="prof-img" src="{{ team.image_url }}" />
              <div class="main-info">
                <h3>  <a href="/teams/{{team.id}}" >{{ team.name }}</a></h3>
                <em *ngIf="team.form"> <span>Form: {{team.form}}</span> </em>
                <em *ngIf="team.github"> <span>GitHub:</span><a href="{{team.github}}" target="blank"> {{team.github}} </a></em>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="button" href="#">Find more...</a>
    </section>
    <section class="project-card">
      <div class="pins">
        <img src="pin.png" alt="">
        <h2>upcoming events</h2>
        <img src="pin.png" alt="">
      </div>
      <p class="description">Discover upcoming events</p>
      <hr>
      <div class="info-container">
        <div class="short-info" *ngFor="let event of events | slice:0:4">
          <div class="info-wrapper">
            <div class="img-info-wrap">
              <img class="prof-img" src="{{ event.image_url }}" />
              <div class="main-info">
                <h3>  <a href="/events/{{event.id}}" > {{ event.title }} </a></h3>
                <em *ngIf="event.type"> <span>Type: {{event.type}}</span> </em>
                <em *ngIf="event.place"> <span>Place: {{event.place}}</span> </em>
                <em *ngIf="event.time"> <span>Date and time: {{event.time}}</span> </em>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="button" href="#">Find more...</a>
    </section>

  </div>
</main>
